<html>
    <head>
        <style>
            body{
                background-image:url({{url_for('static', filename='bgpic.jpg')}})
            }
            h1{
                color: rgb(219, 166, 150);
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
            h3{
                color: rgb(247, 242, 240);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
            }
        </style>
    </head>
<body>

    <center>

        <h1>  PREDICTION   </h1>
    
    <h3>shirt_length:{{data1.item()}}</h3>
    <h3>shirt_chest:{{data2.item()}}</h3>
    <h3>shirt_waist:{{data3.item()}}</h3>
        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>